*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#dfe9e5;
overflow:hidden;
}

.container{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.login-wrapper{
width:880px;
height:530px;
display:flex;
gap:24px;
align-items:stretch;
justify-content:center;
}

.image-section{
width:470px;
height:530px;
background:#d6e1dd;
border-radius:8px;
overflow:hidden;
display:flex;
align-items:center;
justify-content:center;
}

.image-section img{
width:100%;
height:100%;
object-fit:cover;
}

.form-section{
width:450px;
height:530px;
background:#ffffff;
border-radius:8px;
padding:32px 36px 24px 36px;
display:flex;
flex-direction:column;
justify-content:flex-start;
align-items:center;
overflow:hidden;
}

.logo-container{
width:100%;
text-align:center;
margin-bottom:0px;
}

.logo{
width:100px;
height:auto;
margin-bottom:0px;
}

.logo-container h2{
font-size:16px;
font-weight:600;
color:#677283;
margin-bottom:0px;
}

.logo-container p{
font-size:12px;
color:#7f8896;
}

.login-form{
margin-top:24px;
width:100%;
display:flex;
flex-direction:column;
flex:1;
justify-content:flex-start;
}

.input-group{
width:100%;
margin-bottom:12px;
}

.input-group label{
display:block;
font-size:12px;
color:#7c8594;
margin-bottom:5px;
text-align:left;
}

.input-group input{
width:100%;
height:42px;
padding:0 14px;
border:1px solid #dde3e8;
border-radius:4px;
background:#ffffff;
font-size:12px;
outline:none;
color:#5f6673;
}

.input-group input::placeholder{
color:#a0a9b5;
}

.input-group input:focus{
border-color:#1d7c67;
}

.options{
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
margin-top:2px;
margin-bottom:32px;
font-size:11px;
}

.remember{
display:flex;
align-items:center;
gap:8px;
color:#7c8594;
}

.remember input{
appearance:none;
-webkit-appearance:none;
width:14px;
height:14px;
border:1px solid #cfd8dc;
border-radius:3px;
background:#ffffff;
cursor:pointer;
}

.remember input:checked{
background:#1d7c67;
border-color:#1d7c67;
}

.options a{
text-decoration:none;
color:#7c8594;
}

button{
width:100%;
height:42px;
border:none;
border-radius:4px;
background:#1d7c67;
color:white;
font-size:12px;
font-weight:600;
cursor:pointer;
transition:0.3s;
margin-top:4px;
}

button:hover{
background:#166653;
}

.footer{
margin-top:18px;
font-size:11px;
color:#8f98a3;
}

@media(max-width:900px){

.login-wrapper{
width:100%;
height:auto;
flex-direction:column;
}

.image-section{
display:none;
}

.form-section{
width:100%;
height:auto;
}

.footer{
width:450px;
margin-top:18px;
margin-left:600px;
font-size:11px;
color:#8f98a3;
}
}